@charset "UTF-8";

*{
    text-align: justify;
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: #c5c5c3;
}
header{
    background-color: #999997;
}
header>h1{
 color: black;
 text-align: center;
}
header>menu{
  color: white;
    background-color: #525252;
}
main{
    background: white ;
    text-align: center;
    padding: 20px;
    padding-bottom: 30px;
    margin: 10px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 1cm;
    
}
main>p{
    padding: 5px;
   
}