@charset "UTF-8";

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{

}
section.conteudoflex{
    background-color: rgb(173, 173, 161);
    
}
article.elem-text>div.media{
   display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
article.text-elem>div.video{
   display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
