@charset "UTF-8";

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p,h1,h2{
    margin-bottom: 10px;
    text-align: justify;
}
header,section.normal{
  padding: 20px;
}
section.conteudoflex{
    background-color: rgb(104, 98, 92);
}
 article.elem-text>div.media{ 
    
}
div.video>iframe{
    
    justify-content: center;
}