@charset "UTF-8";

 section.conteudoflex{
 display: flex ;
 flex-flow:column nowrap;
 }
  article.elem-text{
   display: flex;
     flex-flow: row wrap-reverse;

}

 article.text-elem{
   display: flex;
   flex-flow:  row nowrap;
    
}


article>div.text{
  flex: 1 1 650px;
  border: 1px dotted red;
  padding:0px 20px ;
}
article>div.media{
  flex: 1 0 250px;
  border: 1px dotted blue;

}
div.media{
  display: block;
  margin: auto;
height: 90%;
}

div.video>iframe{
  display: block;
  margin: auto;
height: 90%;
}
