@charset "UTF-8";
*{
   padding: 0px;
   margin: 0px;
}
body { 
     background-color: #b1b1a7;

 }
 header{
  padding: 20px;
   background-color: #74746d;
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-items: center;

 }

 h1{
   
   padding: 10px 5px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 header>nav{
  border: 1px dotted black;
    
 }
 header> nav> a{
  background-color:black ;
  color: white;
  border-radius: 5px;
  padding:10px ;
  margin: 5px;
  text-align: center;
  text-decoration: none;
 }
 a:hover{
  background-color: white;
  color: black;
 }


 main{

   margin: 10px 5px;
   padding: 10px 5px;
  background-color: white;
    align-items:center;
    border-radius: 3px;
    box-shadow: 1px  rgb(14, 13, 13);
    font-family: Arial, Helvetica, sans-serif;
 }
   
   
