@charset "UTF-8"

@import url(<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap" rel="stylesheet">);
@import url(<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap" rel="stylesheet">);
:root{
    --fonte1:verdana,tahoma,sans-serif;
    --fonte2:"passion one" , serif;
    --fonte3: "sriracha",serif  ;

}
*{
    margin:0px;
    padding:0px;
}

html,body{
min-height: 100vh;
}

header{
    text-align: center;
 background-color: black;
 margin: -5%;
 font-family: var(--fonte2);
 
 
}

header, h1{
    padding-top: 50px;
    color: white;
     font-variant: small-caps;
     font-size: 5vh;
   
}

header, p{
    
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
   
}

header ,h4{
   
    font-family: "Passion One", "cursive";
}

main{
    font-family: "Sriracha", "cursive";
   
}

h1{

}

section{
   
   padding-top: 10vh;
   padding-bottom: 10vh;
   line-height: 2em;
   padding-left: 30px;
   font-family: var(--fonte3);
   
}
section.normal{
 background-color: white;
 color:black;
}
section.imagem{
    background-color:rgb(61, 55, 55);
   color: white;
 }
 section.imagem >p{
    display: inline-block;
    background-color: black;
 }
p{
 
}

footer{
   
        background-color: black;
        color: #ffffff;
        text-align: center;
       padding: 10px;

}

footer, p{
    font-family:"Passion One", "cursive" ;
}

footer,h5{
    text-transform: uppercase;
}



a{
    color: white;
    text-decoration:none;
    font-family: "Passion One", "cursive";  
    
}

a:hover{
    text-decoration: underline;
}